$textColor: #181818;
$blue: #2463eb;
$white: #f0f0f0;

$breakpoint-phone: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;
$breakpoint-large-desktop: 1920px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $textColor;
}

h1 {
  font-size: 1.7rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3rem;
}
